/* * * Index page styling * * */
/* ================================= */

/* Index body styling */
body {
    background: var(--bg-main);
    color: var(--color-main);
    transition: all .5s ease-in-out;
    font-family: "Roboto", sans-serif;
    height: min-content;
}


/* main container styling */
main {
    height: 100%;
}