/* * * Navbar styling * * */
/* ====================== */


/* root nav element */
nav {
    background: var(--bg-navbar-main);
    height: 8vh;
    padding: 1rem;
    transition: all .5s ease-in-out;
    z-index: 1000;
}

@supports(backdrop-filter: blur(10px)) {
    nav {
        backdrop-filter: blur(10px);
    }
}

/* navbar Sign up button */
nav #signup-btn {
    width: max-content;
    padding: .5rem 1rem;
    background: var(--heading-gradient);
    outline: none;
    border-radius: 10px !important;
    border: transparent;
    transition: .5s all ease-in-out;
}

nav #signup-btn a {
    color: var(--bg-main);
    font-size: 14px;
    letter-spacing: .1rem;
}

/* navbar theme toggle btn */
nav #toggle-theme {
    background: var(--bg-secondary);
    border-radius: 50%;
    transition: all .5s ease-in-out;
    cursor: pointer;
}

nav #toggle-theme box-icon {
    fill: var(--color-main);
}

/* navbar profile card */
nav #profile-card #profile-img {
    width: 3rem;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--bg-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

/* profile card toggling menu */
#profile-menu {
    top: 110%;
    right: 45%;
    width: 10rem;
    height: 5rem;
    padding: .2rem 0rem;
    background: var(--bg-primary);
    border: 1px solid var(--bg-secondary);
    border-radius: 10px 1px 10px 10px;
    z-index: 1000;
    transition: all .5s ease-in-out;
}

#profile-menu li {
    width: 90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .25rem;
    border-bottom: 1px solid var(--bg-secondary);
}

#profile-menu li:last-child {
    border-bottom: 0px;
}

#profile-menu box-icon {
    fill: var(--color-main);
    width: 1.3rem;
}

#profile-menu li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: max-content;
    height: 100%;
    color: var(--color-main);
    text-decoration: none;
}