<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google font CDN Link -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Rubik:wght@300..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:wght@100;300;400;500;700;900&display=swap"
        rel="stylesheet">
    <!-- Box Icons CDN link -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    <script src="https://unpkg.com/boxicons@2.1.3/dist/boxicons.js"></script>
    <!-- Importing custom stylesheets -->
    <link rel="stylesheet" href="/stylesheets/globals.css">
    <link rel="stylesheet" href="/stylesheets/navbar.css">
    <link rel="stylesheet" href="/stylesheets/toast.css">
    <link rel="stylesheet" href="/stylesheets/auth.css">
    <title>Code Crate | Signup</title>
</head>
<body class="dark flex items-center justify-center relative w-full h-screen overflow-hidden">
    <%- include('../partials/navbar') %>
    <%- include('../partials/toast') %>
        <%- body %>
</body>
<!-- Importing custom scripts -->
<script src="/scripts/themeToggle.js"></script>
<script src="/scripts/toast.js"></script>
<script src="/scripts/auth/userSignup.js"></script>

</html>