<footer class="flex flex-col items-center p-4 m-auto w-full">
    <!-- Upper Footer -->
    <div id="upper-footer" class="flex items-center justify-between m-auto w-full my-3">
        <!-- Left side -->
        <div class="flex flex-col h-full items-center justify-between gap-3">
            <h1 id="logo" class="logo flex items-center justify-center">
                <span class="logo-punct">.</span>
                <span class="logo-aplha">codeCrate</span>
            </h1>
            <span id="copyright">
                <p>Copyright &copy; 2024 CodeCrate</p>
                <p>All rights reserved</p>
            </span>
        </div>

        <!-- Right side -->
        <div id="footer-links" class="flex items-start space-between h-full">
            <div id="about-links" class="flex flex-col items-start justify-center">
                <span>About Us</span>
                <div class="flex flex-col">
                    <a href="#">
                        <box-icon name="group"></box-icon>
                        Our Team
                    </a>
                    <a href="#">
                        <box-icon name='message-square-detail'></box-icon>
                        Feedback
                    </a>
                    <a href="#">
                        <box-icon name='user-pin'></box-icon>
                        Testimonials
                    </a>
                </div>
            </div>

            <div id="helpful-links" class="flex flex-col items-start justify-center">
                <span>Helpful Links</span>
                <div class="flex flex-col">
                    <a href="#">
                        <box-icon name='question-mark'></box-icon>
                        FAQs
                    </a>
                    <a href="#">
                        <box-icon name='support'></box-icon>
                        Support
                    </a>
                </div>
            </div>

            <div id="policy-links" class="flex flex-col items-start justify-center">
                <span>Policies</span>
                <div class="flex flex-col">
                    <a href="#">
                        <box-icon name='check-shield'></box-icon>
                        Privacy Policy
                    </a>
                    <a href="#">
                        <box-icon name='receipt'></box-icon>
                        Terms & Conditions
                    </a>
                </div>
            </div>

            <div id="contact-links" class="flex flex-col items-start justify-center">
                <span>Contact Us</span>
                <div class="flex flex-col">
                    <a href="#">
                        <box-icon name='envelope'></box-icon>
                        codecrate@gmail.com
                    </a>
                    <a href="#">
                        <box-icon type='solid' name='map-pin'></box-icon>
                        Rajkot, Gujarat, India
                    </a>
                    <a href="#">
                        <box-icon name='phone-call'></box-icon>
                        +91 990099xxxx
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="divider"></div>

    <!-- Lower Footer -->
    <div id="lower-footer" class="flex items-center justify-between m-auto w-full my-3">
        <!-- Left side -->
        <div class="flex flex-col h-full items-start justify-between gap-3">
            <span>
                <p>To keep yourself updated,</p>
                <p>Subscribe to our newsletter.</p>
            </span>
            <form class="flex items-center justify-between p-1">
                <input type="email" class="flex items-center justify-center flex-1 outline-none" placeholder="Write your email here..." />
                <button type="submit" class="flex items-center justify-center shrink-0 p-1 cursor-pointer">
                    <box-icon name="check"></box-icon>
                </button>
            </form>
        </div>
        <!-- Right side -->
        <div class="flex h-full items-center justify-between gap-3">
            <a href="">
                <box-icon name='instagram' type='logo'></box-icon>
            </a>
            <a href="">
                <box-icon name='github' type='logo'></box-icon>
            </a>
            <a href="">
                <box-icon name='twitter' type='logo'></box-icon>
            </a>
            <a href="">
                <box-icon name='dribbble' type='logo'></box-icon>
            </a>
        </div>
    </div>
</footer>