<!-- The navbar component (appears on all pages) -->

<nav class="fixed top-0 flex items-center justify-between w-full mx-auto">
    <!-- Left Navbar -->
    <div class="flex items-center justify-center w-max-content">
        <!-- Logo for the website -->
        <h1 id="logo" class="logo flex items-center justify-center">
            <span class="logo-punct">.</span>
            <span class="logo-aplha">codeCrate</span>
        </h1>
    </div>

    <!-- Right Navbar -->
    <div class="flex items-center justify-between gap-3 w-max-content h-max-content">
        <!-- theme toggler -->
        <div id="toggle-theme" class="flex items-center justify-center p-2">
            <box-icon name="moon" />
        </div>
        <!-- Profile card -->
        <div id="profile-card" class="flex items-center justify-center relative">
            <div id="profile-img" class="flex items-center justify-center">
                <!-- profile image -->
                <img src="https://picsum.photos/100" alt="" class="h-full w-ful object-cover cursor-pointer">
            </div>
            <!-- Progile menu -->
            <div id="profile-menu" class="profile-menu flex-col items-center justify-center absolute display-none">
                <ul class="list-style-none flex flex-col items-center justify-center w-full h-full">
                    <li>
                        <box-icon name="user"></box-icon>
                        <a href="#" class="">Profile</a>
                    </li>
                    <li>
                        <box-icon name="log-out"></box-icon>
                        <a href="#" class="">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
        <!-- SignUp button -->
        <button type="button" id="signup-btn" class="flex items-center justify-center">
            <a href="/api/auth/signup" class="decoration-none w-full h-full">Sign Up</a>
        </button>
    </div>
</nav>