<nav class="sticky top-0 flex items-center justify-between w-full border">
    <ul class=" flex items-center justify-evenly w-full list-style-none">
        <li>Home</li>
        <li>About</li>
        <li>Login</li>
    </ul>
</nav>