<div id="sidebar" class="flex flex-col p-2">
    <div id="sidebar-nav-links" class="flex flex-col items-center justify-center flex-1 p-2">
        <a href="">
            <box-icon name="home"></box-icon>
        </a>
        <a href="">
            <box-icon name="code-alt"></box-icon>
        </a>
        <a href="">
            <box-icon name="heart"></box-icon>
        </a>
    </div>
    <div class="sidebar-btns flex flex-col items-center justify-center p-2 ">
        <a href="">
            <box-icon name="log-out"></box-icon>
        </a>
    </div>
</div>