<nav class="sidebar close">
  <div class="menu-bar">
    <div class="menu">
      <ul class="menu-link">
        
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-home-alt icon"></i>
          </a>
        </li>

        <li class="nav-link">
          <a href="#">
            <i class="bx bx-bar-chart-alt-2 icon"></i>
          </a>
        </li>
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-heart icon"></i>
          </a>
        </li>
      </ul>
    </div>

    <div class="bottom">
      <ul class="menu-link">
        <li class="nav-link">
          <a href="#">
            <i class="bx bx-log-out icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
